{% macro chapter(heading, file) %}
<div class="chapter">
{% if heading %}
  <a name="{{ heading | lower |  replace(" ", "_") }}"></a>
  <h1 class="chapter__heading">{{ heading }}</h1>
{% endif %}
{% if file %}
  <div class="chapter__content">
    {% markdown %}
      {% include file %}
    {% endmarkdown %}
  </div>
{% endif %}  
</div>
{% endmacro %}