{% macro chapter(heading, file) %}
<div class="chapter">
{% if heading %}
  <h1><a id="chapter_{{ heading | lower |  replace(" ", "_") }}">{{ heading }}</a></h1>
{% endif %}
{% if file %}
  <div>
    {% markdown %}
      {% include file %}
    {% endmarkdown %}
  </div>
{% endif %}  
</div><!--end chapter-->
{% endmacro %}