{% macro chapter(chapterID, heading, file) %}
<div class="chapter">
{% if heading %}
  <h1><a id="{{ chapterID }}">{{ heading }}</a></h1>
{% endif %}
{% if file %}
  <div>
    {% markdown %}
      {% include file %}
    {% endmarkdown %}
  </div>
{% endif %}  
</div><!--end chapter-->
{% endmacro %}