{% set body_class = "bookler-index" %}

{% extends "layout/_layout.njk" %}
{% from "macros/chapter.njk" import chapter %}
{% from "macros/toc.njk" import toc %}

{% block content %}

<div class="frontcover">
    <h1>{{ siteTitle }}</h1>
    <h2>{{ siteDesc }}</h2>
</div>

<nav id="toc">
    <ol>
        <h2>Contents</h2>
        {% for item in chapters %}
        {{ toc(loop.index, item.title) }} 
        {% endfor %}
    </ol>
</nav>

<div class="container">
    {% for item in chapters %}
    {{ chapter(loop.index, item.title, 'markdown/' + item.title + '.md') }}
    {% endfor %}
</div>

{% endblock %} 