{% set body_class = "bookler-index" %}

{% extends "layout/_layout.njk" %}
{% from "macros/chapter.njk" import chapter %}
{% from "macros/toc.njk" import toc %}

{% block content %}

<div class="frontcover">
    <h1>{{ siteTitle }}</h1>
    <h2>{{ siteDesc }}</h2>
</div>

<nav id="toc">
    <ol>
        {% for recipe in recipes %}
        {{ toc(loop.index, recipe.dish) }} 
        {% endfor %}
    </ol>
</nav>

<div class="container">
    {% for recipe in recipes %}
    {{ chapter(loop.index, recipe.dish, 'markdown/' + recipe.dish + '.md') }}
    {% endfor %}
</div>

{% endblock %} 